/* episode.scss */
@import 'variables';

.episode:global(.row) {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #333333;

  > :global(.row) {
    width: 100%;
  }
}

.episode :global(.ratingBar) {
  height: 26px;
  position: relative;
}

.episode :global(.header) :global {
  display: flex;

  .colEp {
    flex-basis: 3em;
    flex-grow: 0;
    text-align: left;
    font-weight: $fontWeightBold;
    letter-spacing: 0.05em;
  }

  .colTitle {
    flex-grow: 1;
  }

  .colRating {
    flex-basis: 2em;
    flex-grow: 0;
    font-size: 1.15em;
    font-weight: $fontWeightMedium;
    text-align: right;
    color: red;
  }
}

.episode :global(.details) {
  display: none;
  color: #333333;

  .colPlays {
    font-weight: $fontWeightMedium;
    color: #00c1e3;
  }

  .colPlaceholder {
    flex: 1 1;
    height: 10px;
    background-color: $faintGrey;
    border-radius: 2px;
  }
}

.episode:global(.expanded) :global(.details) {
  display: block;
}

:global {
  .animatePulse {
    animation: 1.5s ease-in-out pulse infinite alternate;
  }

  @keyframes :global(pulse) {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.5;
    }
  }
}
