$markerSize: 10px;

.ratingBar {
  flex: 0 0 300px;
  height: 26px;
  position: relative;
}

.ratingBar :global {
  .bar {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;

    .barUnit {
      flex: 1 1;

      &:first-child {
        border-radius: 2px 0 0 2px;
      }
      &:last-child {
        border-radius: 0 2px 2px 0;
      }
    }
  }

  .marker {
    position: absolute;
    top: 50%;

    &::after {
      content: ' ';
      display: block;
      width: ($markerSize - 1);
      height: ($markerSize - 1);
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 1px;
      transform: translate(-$markerSize/2, -$markerSize/2) scaleX(0.8) rotate(45deg);
    }
  }
}
