/* show.scss */
@import 'variables';
@import 'mixins';

$colEpWidth: 3em;
$colRatingBarWidth: 300px;

.show {
  :global .title {
    font-size: 2em;
    font-weight: $fontWeightMedium;
  }

  > :global(.header) {
    margin-bottom: 50px;
  }
}

.show > .ratingBox :global {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .ratingBarContainer {
    flex: 0 0 $colRatingBarWidth;
  }
  .rating {
    font-weight: $fontWeightMedium;
    color: red;
    font-size: 1.3em;
    margin-left: 0.9em;
  }
}

.episodesTable {
  @include media-breakpoint(md) {
    max-width: 60em;
  }
}
