/* show.scss */
@import 'variables';
@import 'mixins';

$colEpWidth: 3em;
$colRatingBarWidth: 300px;

.show {
  .title {
    font-size: 2em;
    font-weight: $fontWeightMedium;
  }

  > :global(.header) {
    margin-bottom: 50px;
  }
}

> .ratingBox {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  :global {
    .ratingBarContainer {
      flex: 0 0 $colRatingBarWidth;
    }
    .rating {
      font-weight: $fontWeightMedium;
      color: red;
      font-size: 1.3em;
      margin-left: 0.9em;
    }
  }
}

> .episodesTable {
  @include media-breakpoint(md) {
    max-width: 60em;
  }
}

.episodesTable  {
  > :global(.header.row) {
    border-bottom: 1px solid $faintGrey;
    padding-bottom: 10px;

    > .col {
      color: $lightGrey;
    }
  }

  > :global(.subtitle) {
    margin: 4px 0;
    font-size: 0.9em;
    color: $lightGrey;
  }
}
