extends ./layouts/default.pug

block vars
  - var title = show.title;

block scripts
  script(type='text/javascript', src='/js/index.js')

block main
  #root
  input(type='hidden', id='data', value=JSON.stringify(show))

  //-code= JSON.stringify(show)
